body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c372b5, #f3c86c);
}

.card {
  background-color: #de97be;
}


.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
